---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Form";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Pagina di prova del form</h2>

  <form name="contact" netlify>
    <p>
      <label>Name <input type="text" name="name" /></label>
    </p>
    <p>
      <label>Email <input type="email" name="email" /></label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
</BaseLayout>
