---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Form";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Pagina di prova del form</h2>

  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="https://api.web3forms.com/submit" method="POST">

    <input type="hidden" name="access_key" value="0d61967e-b8f6-4f93-9d4e-15b7d7c5ec11">

    <input class="block text-gray-700 text-sm font-bold mb-2" type="text" name="name" required>
    <input class="block text-gray-700 text-sm font-bold mb-2" label="EMAIL" type="email" name="email" required>
    <textarea name="message" required></textarea>
    <div class="h-captcha" data-captcha="true"></div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Submit Form</button>

</form>

<script src="https://web3forms.com/client/script.js" async defer></script>
  </form>
</BaseLayout>
